* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: Arial, sans-serif;
  background: #030000;
  color: #333;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}


